@import '../../styles/mixins';




.news {
  .container {
    @extend %default-container;
    background-color: var(--background-color);
    flex-direction: column;

    header {
      width: 100%;
      display: flex;
      flex-direction: column;
      @include adaptive-value("margin-top", 20, 10, 1);
      @include adaptive-value("margin-bottom", 20, 10, 1);


      .header__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptive-value("margin-bottom", 20, 10, 1);
        @include adaptive-value("margin", 8, 4, 1);


        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }
        .header__button {
          width: auto;

          @media (max-width: 768px) {
            align-self: flex-start;
          }

          @media (max-width: 552px) {
          }

          button {
            width: 100%;
            border-radius: 3px;
            background-color: var(--secondary-color);
            height: auto;
            white-space: nowrap;
            text-transform: uppercase;
            @extend %text-font-size;
            font-weight: bold;
            @include adaptive-value("padding", 8, 4, 1);
            @include adaptive-value("margin", 8, 4, 1);

          }
        }

        h1 {
          @extend %title-font-size;
          color: var(--primary-color);
          text-align: center;
        }
      }

      .header__content {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }
        .header__time, a {
          @extend %text-font-size;
        }

        a {
          text-decoration: underline;
        }

      }
    }


    main {
      width: 100%;
      .main__image {
        img {
          width: 35%;
          float: left;
          @extend %border-images;
          @include adaptive-value("margin-bottom", 16, 8, 1);
          @include adaptive-value("margin-right", 16, 8, 1);
          @media (max-width: 992px) {
            width: 60%;
          }
          @media (max-width: 768px) {
            width: 100%;
            float: none;
          }
        }
      }

      .main__content {
        
        .main__title {
          @extend %text-font-size;
          font-weight: 600;
          text-align: left;
          @include adaptive-value("margin-bottom", 10, 5, 1);
        }

        .main__body {
          @extend %text-font-size;

          p {
            text-align: justify;
            @include adaptive-value("margin-left", 32, 0, 1);
            @include adaptive-value("margin-bottom", 16, 8, 1);
            line-height: 1.4;
            word-break: break-word;
          }

          a {
            text-decoration: underline;
            color: var(--primary-color);
          }
          aside {
            font-style: italic;
            width: 25%;
            blockquote, p {
              float: left;
              display: inline;
              word-break: break-word;
              @include adaptive-value("margin-bottom", 16, 4, 1);
              @include adaptive-value("margin-right", 16, 4, 1);

              p{
                @extend %title-font-size;
                color: var(--primary-color);
                margin-left: 0;
                text-align: justify;
              }
            }

            @media (max-width: 992px) {
              width: 30%;
            }
            @media (max-width: 768px) {
              width: 35%;
            }
            @media (max-width: 552px) {
              width: 40%;
            }
          }
          ul {

            li{
              text-decoration: none;
            }
          }

        }
      }
    }
  }
}