.news .container {
  display: flex;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 1200px) {
  .news .container {
    padding-right: calc(8px + 7 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .news .container {
    padding-left: calc(8px + 7 * ((100vw - 320px) / 880));
  }
}

.news .container main .main__content .main__body aside blockquote p, .news .container main .main__content .main__body aside p p, .news .container header .header__title h1 {
  font-size: calc(14px + 10 * ((100vw - 320px) / 1080));
  font-weight: 600;
}

.news .container main .main__content .main__body, .news .container main .main__content .main__title, .news .container header .header__content .header__time, .news .container header .header__content a, .news .container header .header__title .header__button button {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1080));
  font-weight: 500;
}

.news .container main .main__image img {
  border: 8px solid var(--secondary-color);
}

.news .container {
  background-color: var(--background-color);
  flex-direction: column;
}
.news .container header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .news .container header {
    margin-top: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .news .container header {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
.news .container header .header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin: 8px;
}
@media (max-width: 1200px) {
  .news .container header .header__title {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .news .container header .header__title {
    margin: calc(4px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 768px) {
  .news .container header .header__title {
    flex-direction: column;
    align-items: center;
  }
}
.news .container header .header__title .header__button {
  width: auto;
}
@media (max-width: 768px) {
  .news .container header .header__title .header__button {
    align-self: flex-start;
  }
}
.news .container header .header__title .header__button button {
  width: 100%;
  border-radius: 3px;
  background-color: var(--secondary-color);
  height: auto;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px;
  margin: 8px;
}
@media (max-width: 1200px) {
  .news .container header .header__title .header__button button {
    padding: calc(4px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .news .container header .header__title .header__button button {
    margin: calc(4px + 4 * ((100vw - 320px) / 880));
  }
}
.news .container header .header__title h1 {
  color: var(--primary-color);
  text-align: center;
}
.news .container header .header__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .news .container header .header__content {
    flex-direction: column;
    align-items: center;
  }
}
.news .container header .header__content a {
  text-decoration: underline;
}
.news .container main {
  width: 100%;
}
.news .container main .main__image img {
  width: 35%;
  float: left;
  margin-bottom: 16px;
  margin-right: 16px;
}
@media (max-width: 1200px) {
  .news .container main .main__image img {
    margin-bottom: calc(8px + 8 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .news .container main .main__image img {
    margin-right: calc(8px + 8 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 992px) {
  .news .container main .main__image img {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .news .container main .main__image img {
    width: 100%;
    float: none;
  }
}
.news .container main .main__content .main__title {
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .news .container main .main__content .main__title {
    margin-bottom: calc(5px + 5 * ((100vw - 320px) / 880));
  }
}
.news .container main .main__content .main__body p {
  text-align: justify;
  margin-left: 32px;
  margin-bottom: 16px;
  line-height: 1.4;
  word-break: break-word;
}
@media (max-width: 1200px) {
  .news .container main .main__content .main__body p {
    margin-left: calc(0px + 32 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .news .container main .main__content .main__body p {
    margin-bottom: calc(8px + 8 * ((100vw - 320px) / 880));
  }
}
.news .container main .main__content .main__body a {
  text-decoration: underline;
  color: var(--primary-color);
}
.news .container main .main__content .main__body aside {
  font-style: italic;
  width: 25%;
}
.news .container main .main__content .main__body aside blockquote, .news .container main .main__content .main__body aside p {
  float: left;
  display: inline;
  word-break: break-word;
  margin-bottom: 16px;
  margin-right: 16px;
}
@media (max-width: 1200px) {
  .news .container main .main__content .main__body aside blockquote, .news .container main .main__content .main__body aside p {
    margin-bottom: calc(4px + 12 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .news .container main .main__content .main__body aside blockquote, .news .container main .main__content .main__body aside p {
    margin-right: calc(4px + 12 * ((100vw - 320px) / 880));
  }
}
.news .container main .main__content .main__body aside blockquote p, .news .container main .main__content .main__body aside p p {
  color: var(--primary-color);
  margin-left: 0;
  text-align: justify;
}
@media (max-width: 992px) {
  .news .container main .main__content .main__body aside {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .news .container main .main__content .main__body aside {
    width: 35%;
  }
}
@media (max-width: 552px) {
  .news .container main .main__content .main__body aside {
    width: 40%;
  }
}
.news .container main .main__content .main__body ul li {
  text-decoration: none;
}

/*# sourceMappingURL=news.module.css.map */
