:root {
  --primary-color: #D5FFD0;
  --secondary-color: #40F8FF;
  --background-color: #279EFF;
  --font-color: #393939;
}

a, h1, h2, h3, h4, h5, h6, p, span, button, label {
  color: var(--font-color);
  
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}


html, body {
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {

  font-size: inherit;
  font-weight: 400;
  color: black;
}

/*--------------------*/

