main .container, header .container {
  display: flex;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 1200px) {
  main .container, header .container {
    padding-right: calc(40px + -25 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  main .container, header .container {
    padding-left: calc(40px + -25 * ((100vw - 320px) / 880));
  }
}

header .container .header .header__sort .header__dropdown_page label, header .container .header .header__sort .header__dropdown_sort label, header .container .header .header__search .header__button button {
  font-size: calc(12px + 8 * ((100vw - 320px) / 1080));
  font-weight: 600;
}

header .container .header .header__sort .header__dropdown_page select, header .container .header .header__sort .header__dropdown_sort select, header .container .header .header__search input {
  font-size: calc(10px + 6 * ((100vw - 320px) / 1080));
  font-weight: 500;
}

header .container .header .header__sort .header__dropdown_page select option, header .container .header .header__sort .header__dropdown_sort select option {
  font-size: calc(12px + 4 * ((100vw - 320px) / 1080));
}

header .container {
  margin-bottom: 30px;
  justify-content: center;
}
@media (max-width: 1200px) {
  header .container {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 880));
  }
}
header .container .header {
  padding: 40px;
  margin-top: 30px;
  width: 50%;
  border-radius: 10px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  header .container .header {
    padding: calc(15px + 25 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  header .container .header {
    margin-top: calc(10px + 20 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  header .container .header {
    width: 80%;
  }
}
@media (max-width: 552px) {
  header .container .header {
    width: 100%;
  }
}
header .container .header .header__search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
@media (max-width: 1200px) {
  header .container .header .header__search {
    padding-bottom: calc(5px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 552px) {
  header .container .header .header__search {
    flex-direction: column;
  }
}
header .container .header .header__search input {
  width: 70%;
  height: 1rem;
  border-radius: 3px;
  height: 24px;
}
@media (max-width: 1200px) {
  header .container .header .header__search input {
    height: calc(30px + -6 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  header .container .header .header__search input {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 552px) {
  header .container .header .header__search input {
    width: 100%;
  }
}
header .container .header .header__search .header__button {
  width: 20%;
}
@media (max-width: 767px) {
  header .container .header .header__search .header__button {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 552px) {
  header .container .header .header__search .header__button {
    width: 100%;
  }
}
header .container .header .header__search .header__button button {
  width: 100%;
  border-radius: 3px;
  height: 24px;
}
@media (max-width: 1200px) {
  header .container .header .header__search .header__button button {
    height: calc(30px + -6 * ((100vw - 320px) / 880));
  }
}
header .container .header .header__sort {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header .container .header .header__sort .header__dropdown_sort {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  header .container .header .header__sort .header__dropdown_sort {
    justify-content: space-between;
  }
}
header .container .header .header__sort .header__dropdown_sort label {
  padding-bottom: 0px;
  text-align: center;
}
@media (max-width: 1200px) {
  header .container .header .header__sort .header__dropdown_sort label {
    padding-bottom: calc(10px + -10 * ((100vw - 320px) / 880));
  }
}
header .container .header .header__sort .header__dropdown_sort select {
  border-radius: 3px;
  height: 24px;
  text-align: center;
}
@media (max-width: 1200px) {
  header .container .header .header__sort .header__dropdown_sort select {
    height: calc(30px + -6 * ((100vw - 320px) / 880));
  }
}
header .container .header .header__sort .header__dropdown_sort select option {
  max-width: 100%;
  text-align: center;
}
header .container .header .header__sort .header__dropdown_page {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .container .header .header__sort .header__dropdown_page label {
  text-align: center;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  header .container .header .header__sort .header__dropdown_page label {
    padding-bottom: calc(10px + -10 * ((100vw - 320px) / 880));
  }
}
header .container .header .header__sort .header__dropdown_page select {
  border-radius: 3px;
  height: 24px;
  text-align: center;
}
@media (max-width: 1200px) {
  header .container .header .header__sort .header__dropdown_page select {
    height: calc(30px + -6 * ((100vw - 320px) / 880));
  }
}
header .container .header .header__sort .header__dropdown_page select option {
  text-align: center;
}

main .container .news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .container .news .news__item {
  width: 24%;
}
@media (max-width: 992px) {
  main .container .news .news__item {
    width: 30%;
  }
}
@media (max-width: 767px) {
  main .container .news .news__item {
    width: 48%;
  }
}
@media (max-width: 552px) {
  main .container .news .news__item {
    width: 100%;
  }
}
main .container .news .news__item:last-child {
  align-self: flex-start;
  justify-self: flex-start;
}

/*# sourceMappingURL=Home.module.css.map */
